body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 150;
}
.Loki{
    color: green;
}
.Bolton{
    color: blue;
}
section{
    display: flex;
    text-align: justify;
    padding-left: 50px;
}
.same{
    width: 50%;
}
.same img{
    width: 80%;
    padding-left: 50px;
}
.hire{
    text-decoration: none;
    margin-left: 50px;
    background-color: coral;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
}